.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav2 {
  background-image: linear-gradient(
    141deg,
    #585858 0,
    #1fc8db 51%,
    #2cb5e8 75%
  );
}

.btn-primary {
  color: #fff;
  background-color: #585858 !important;
  border-color: #585858 !important;
}

nav {
  background: rgb(9, 110, 121);
  background: linear-gradient(84deg, #1fc8db, #258c98, #a18df0, #126567);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

.animate {
  background: rgb(9, 110, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 110, 121, 1) 32%,
    rgba(9, 54, 121, 1) 54%,
    rgba(0, 212, 255, 1) 78%,
    rgba(164, 0, 255, 1) 94%
  );
  animation: gradient 18.5s ease infinite;
  background-size: 800% 800%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
